body {
  margin: 25px;
}

h1 {
  text-align: center;
}

div {
  display: flex;
  flex-wrap: wrap;
}

hr {
  margin: 25px;
  border: 2px solid black;
}

.legend {
  display: inline-block;
  height: 12px;
  width: 12px;
}

/* General Visualizations  */

/* Embarked */

#shStation {
  background-color: #B22222;
}

#cbStation {
  background-color: silver;
}

#qsStation {
  background-color: #000080;
}

#undefinedStation {
  background-color: black;
}

/* Classes */

#fClass {
  background-color: gold;
}

#sClass {
  background-color: silver;
}

#tClass {
  background-color: #B87333;
}

/* Gender */

#male {
  background-color: #000080;
}

#female {
  background-color: pink;
}

/* Survivors */ 

#survivors {
  background-color: #000080;
}

#diers {
  background-color: #B22222;
}